[MASTER]
jobs=1 #single-process: parallel mode trips an astroid const_factory recursion on torch/lightning brains
init-hook=import sys; sys.setrecursionlimit(10000)
ignore=pdd.py
ignore-paths=.*pism_emulator/models/pdd\.py$
[BASIC]
good-names=nameOfYourProject #names to be considered ok
[pre-commit-hook]
disable=E0401, C0301, C0103, R0903, R0913, R0914, W0102, E1126, R0801
[DESIGN]
max-positional-arguments=10
