arviz
bokeh
cdo
cf_xarray
dask[distributed,dataframe]
earthaccess
h5netcdf
ipywidgets
joblib
lightning
matplotlib
netcdf4
notebook
numpy
pandas
pint_xarray
pyfiglet
pylint
pytest
rioxarray
scikit_learn
scipy
seaborn
tensorboard
torch
torchaudio
torchvision
tqdm
xarray
zarr
